/* LoginPage.css */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  }
  
  .login-form {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    justify-content: center;
    margin-top: 15px;
    margin: auto;
  }
  
  .login-form label {
    font-weight: bold;
  }
  
  .login-form button {
    margin-top: 10px;
  }

  .login-form p {
    text-decoration: underline;
    cursor: pointer;
  }

  p.login-form{
    margin-top: 10px;
    width: 100px;
    height: 50px;
  }

  input.input-error,
  select.input-error{
    border-color: #fc8181;
  }

  button:disabled{
    opacity: 0.35;
  }
  