/* verification.css */
body {
    background-color: #f4f4f4;
 
}

.dashboard-header {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    float: right;
}

.logout-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    float: right;
}

.logout-button:hover {
    background-color: #c0392b;
}

.verification-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 100px;
}

button{
    margin-top: 15px;
}

button a{
    margin-bottom: 10px; 
}

.bvn{
    text-align: center;
}

input.input-error,
select.input-error{
  border-color: #fc8181;
}

button:disabled{
  opacity: 0.35;
}

